@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewBag.Title = "AddRide";
}
<!DOCTYPE html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->

<body>
    <section class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <div class="page-sub-title textcenter">
                        <h2>Add new ride</h2>
                        <div class="line"></div>
                    </div><!-- end .page-sub-title -->
                </div><!-- end .col-lg-12 -->
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="page-content add-new-ride">
                        <form action="" novalidate autocomplete="off" class="idealforms add-ride">
                            <div class="field">
                                <select id="destination" name="destination">
                                    <option value="default">From</option>
                                </select>
                            </div>
                            <div class="field">
                                <select id="destinationd" name="destinationd">
                                    <option value="default">To</option>
                                </select>
                            </div>
                            <div class="field">
                                <input name="event" type="text" placeholder="Date" class="datepicker">
                            </div>
                            <div class="field">
                                <select id="destination" name="destination">
                                    <option value="default">Number of seats</option>
                                </select>
                            </div>
                            <div class="field buttons">
                                <button type="submit" class="btn btn-lg green-color">Submit</button>
                            </div>
                        </form>
                    </div><!-- end .page-content -->
                </div><!-- end .col-sm-12 -->
                <div class="col-sm-6 col-md-6 col-xs-6">
                    <div id="map"></div>
                </div>
            </div><!-- end .row -->
        </div><!-- end .container -->
    </section><!-- end .main-content -->
    <script type="text/javascript" src="~/scripts/map.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPvgQALRCBHxvBMoMDOAGdZ52rXZInzL4&callback=initMap">

    </script>
</body>
