@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewBag.Title = "Paputka";
}
<!DOCTYPE html>
<body>
    <section class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="page-sub-title textcenter">
                        <h2>Blog</h2>
                        <div class="line"></div>
                    </div><!-- end .page-sub-title -->
                </div><!-- end .col-md-12 col-sm-12 col-xs-12 -->
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="page-content add-new-ride">
                        <div class="articles">
                            <article class="article clearfix">
                                <figure class="ride-image">
                                    <img src="img/events/event-2.jpg" alt="" />
                                </figure>
                                <header>
                                    <h3 class="article-title">Some description</h3>
                                    <ul class="article-meta">

                                        <li class="article-date">
                                            <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                                <i class="fa fa-calendar"></i>
                                                July 22, 2013 at 15:00 PM
                                            </a>
                                        </li><!-- end .article-date -->
                                        <li class="article-comment">
                                            <a href="#" class="tooltip-link" data-original-title="Comments" data-toggle="tooltip">
                                                <i class="fa fa-comments"></i>
                                                5
                                            </a>
                                        </li><!-- end .article-comment -->
                                        <li class="article-author">
                                            <a href="#" class="tooltip-link" data-original-title="Post by" data-toggle="tooltip">
                                                <i class="fa fa-user"></i>
                                                Admin
                                            </a>
                                        </li><!-- end .article-author -->
                                        <li class="article-tag">
                                            <a href="#" class="tooltip-link" data-original-title="Category" data-toggle="tooltip">
                                                <i class="fa fa-tags"></i>
                                                Music
                                            </a>
                                        </li><!-- end .article-tag -->
                                    </ul><!-- end .article-meta -->
                                </header><!-- end header -->
                                <div class="article-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a class="btn green-color pull-right" href="#">Read more...</a>
                                </div><!-- end .article-content -->
                            </article><!-- end .article -->
                            <article class="article clearfix">
                                <figure class="ride-image">
                                    <img src="/img/events/event-3.jpg" alt="" />
                                </figure>
                                <header>
                                    <h3 class="article-title">Some description</h3>
                                    <ul class="article-meta">

                                        <li class="article-date">
                                            <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                                <i class="fa fa-calendar"></i>
                                                July 20, 2013 at 16:00 PM
                                            </a>
                                        </li><!-- end .article-date -->
                                        <li class="article-comment">
                                            <a href="#" class="tooltip-link" data-original-title="Comments" data-toggle="tooltip">
                                                <i class="fa fa-comments"></i>
                                                1
                                            </a>
                                        </li><!-- end .article-comment -->
                                        <li class="article-author">
                                            <a href="#" class="tooltip-link" data-original-title="Post by" data-toggle="tooltip">
                                                <i class="fa fa-user"></i>
                                                Admin
                                            </a>
                                        </li><!-- end .article-author -->
                                        <li class="article-tag">
                                            <a href="#" class="tooltip-link" data-original-title="Category" data-toggle="tooltip">
                                                <i class="fa fa-tags"></i>
                                                Music
                                            </a>
                                        </li><!-- end .article-tag -->
                                    </ul><!-- end .article-meta -->
                                </header><!-- end header -->
                                <div class="article-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a class="btn green-color pull-right" href="#">Read more...</a>
                                </div><!-- end .article-content -->
                            </article><!-- end .article -->
                            <article class="article clearfix">
                                <figure class="ride-image">
                                    <img src="/img/events/event-5.jpg" alt="" />
                                </figure>
                                <header>
                                    <h3 class="article-title">Some description</h3>
                                    <ul class="article-meta">

                                        <li class="article-date">
                                            <a href="#" class="tooltip-link" data-original-title="Date" data-toggle="tooltip">
                                                <i class="fa fa-calendar"></i>
                                                July 16, 2013 at 19:00 PM
                                            </a>
                                        </li><!-- end .article-date -->
                                        <li class="article-comment">
                                            <a href="#" class="tooltip-link" data-original-title="Comments" data-toggle="tooltip">
                                                <i class="fa fa-comments"></i>
                                                10
                                            </a>
                                        </li><!-- end .article-comment -->
                                        <li class="article-author">
                                            <a href="#" class="tooltip-link" data-original-title="Post by" data-toggle="tooltip">
                                                <i class="fa fa-user"></i>
                                                Admin
                                            </a>
                                        </li><!-- end .article-author -->
                                        <li class="article-tag">
                                            <a href="#" class="tooltip-link" data-original-title="Category" data-toggle="tooltip">
                                                <i class="fa fa-tags"></i>
                                                Music
                                            </a>
                                        </li><!-- end .article-tag -->
                                    </ul><!-- end .article-meta -->
                                </header><!-- end header -->
                                <div class="article-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    <a class="btn green-color pull-right" href="#">Read more...</a>
                                </div><!-- end .article-content -->
                            </article><!-- end .article -->
                        </div><!-- end .articles -->
                        <div class="post-pagination pagination-margin clearfix">
                            <div class="prev pull-left">
                                <a href="#">
                                    <i class="fa fa-chevron-left"></i>
                                    Prev
                                </a>
                            </div>
                            <div class="next pull-right">
                                <a href="#">
                                    Next
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                        </div><!-- end .post-pagination -->
                    </div><!-- end .page-content -->
                </div><!-- end .cal-md-9 -->
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <aside id="sidebar" class="main-sidebar">
                        <div class="search-widget sidebar-widget">
                            <h4 class="widget-title">Search</h4>
                            <div class="widget-content">
                                <form class="idealforms search-form adaptive" autocomplete="off" novalidate="" action="">
                                    <div class="field idealforms-field idealforms-field-email">
                                        <input type="text" placeholder="Text" name="search">
                                    </div>
                                    <div class="field buttons">
                                        <button class="btn btn-lg blue-color" type="submit">Search</button>
                                    </div>
                                </form>
                            </div><!-- end .widget-content -->
                        </div><!-- end .archives-widget -->
                        <div class="archives-widget sidebar-widget">
                            <h4 class="widget-title">Archives</h4>
                            <div class="widget-content">
                                <ul>
                                    <li><a href="#">November 2013</a> <span>(2)</span></li>
                                    <li><a href="#">October 2013</a> <span>(5)</span></li>
                                    <li><a href="#">September 2013</a> <span>(10)</span></li>
                                    <li><a href="#">August 2013</a> <span>(9)</span></li>
                                    <li><a href="#">July 2013</a> <span>(10)</span></li>
                                    <li><a href="#">June 2013</a> <span>(11)</span></li>
                                </ul>
                            </div><!-- end .widget-content -->
                        </div><!-- end .archives-widget -->

                        <div class="calendar sidebar-widget">
                            <h4 class="widget-title">Calendar</h4>
                            <div class="widget-content">
                                <div id="calendar_wrap">
                                    <div class="calendar-nav">
                                        <div class="calendar-prev">
                                            <a href="#"></a>
                                        </div>
                                        <div class="calendar-next">
                                            <a href="#"></a>
                                        </div>
                                    </div>
                                    <table id="wp-calendar">
                                        <caption>April 2014</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col" title="Monday">Mo</th>
                                                <th scope="col" title="Tuesday">Tu</th>
                                                <th scope="col" title="Wednesday">We</th>
                                                <th scope="col" title="Thursday">Th</th>
                                                <th scope="col" title="Friday">Fr</th>
                                                <th scope="col" title="Saturday">Sa</th>
                                                <th scope="col" title="Sunday">Su</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="1" class="pad">&nbsp;</td>
                                                <td>1</td>
                                                <td>2</td>
                                                <td>3</td>
                                                <td>4</td>
                                                <td>5</td>
                                                <td>6</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>8</td>
                                                <td>9</td>
                                                <td>10</td>
                                                <td>11</td>
                                                <td>12</td>
                                                <td>13</td>
                                            </tr>
                                            <tr>
                                                <td>14</td>
                                                <td>15</td>
                                                <td>16</td>
                                                <td>17</td>
                                                <td>18</td>
                                                <td>19</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td>21</td>
                                                <td>22</td>
                                                <td>23</td>
                                                <td>24</td>
                                                <td>25</td>
                                                <td id="today"><a href="">26</a></td>
                                                <td>27</td>
                                            </tr>
                                            <tr>
                                                <td>28</td>
                                                <td>29</td>
                                                <td>30</td>
                                                <td class="pad" colspan="4">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!-- end .calendar_wrap -->
                            </div><!-- end .widget-content -->
                        </div><!-- end .sidebar-widget -->
                    </aside><!-- end .main-sidebar -->
                </div><!-- end .col-md-3 -->
            </div><!-- end .row -->
        </div><!-- end .container -->
    </section><!-- end .main-content -->
</body>
