@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewBag.Title = "My Account";
}
<div class="col-md-12 col-sm-12 col-xs-12">
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-2">
            <img src="~/img/avatar-1.jpg" />
        </div>
        <div class="col-xs-10">
            <h3>
                <b>First name:</b> 
                <b>Last name:</b> 
                <b>Phone:</b> 
            </h3>
            <h3><b>Email:</b></h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12">
            <h3>
                <b>Description: </b><br />
                
            </h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-6">
            <h3><b>Preferences:</b></h3>
            <h3><b>Talaktive: </b> </h3>
            <h3><b>Pets: </b></h3>
        </div>
        <div class="col-xs-6">
            <h3><b>Music: </b></h3>
            <h3><b>Smoking: </b></h3>
        </div>
    </div>
    <hr />
</div>