@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CarPooling.DTO.RatingDTO
<div class="modal fade" id="RateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div><!-- end .modal-header -->
            <div class="modal-body">
                <form method="post" asp-action="AddRating" asp-controller="Ratings" asp-area="Settings" novalidate autocomplete="off" class="idealforms login">
                    <div class="log-header">
                        <span class="log-in">Rate Ride</span>
                        <div class="field">
                            <input asp-for="General" placeholder="General">
                            <span asp-validation-for="General" class="text-danger"></span>
                        </div>
                        <div class="field">
                            <input asp-for="Accuracy" placeholder="Accuracy">
                            <span asp-validation-for="Accuracy" class="text-danger"></span>
                        </div>
                        <div class="field">
                            <input asp-for="Talkative" placeholder="Talkative">
                            <span asp-validation-for="Talkative" class="text-danger"></span>
                        </div>
                        <div class="field">
                            <input asp-for="rideId" placeholder="Seats">
                            <span asp-validation-for="rideId" class="text-danger"></span>
                        </div>
                        <div class="field buttons">
                            <button type="submit" class="submit btn green-color">Add</button>
                            <button type="button" class="close btn red-color">Close</button> 
                        </div>
                    </div>
                </form><!-- end .login -->
            </div><!-- end .modal-body -->
        </div><!-- end .modal-content -->
    </div><!-- end .modal-dialog -->
</div><!-- end .modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>