@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CarPooling.DTO.SelectRideDTO
@{
    Layout = "_Layout";
    ViewBag.Title = "Paputka";
}
<!DOCTYPE html>
<body>
    <section class="main-content">
        <div class="container">
            <div class="row" id="SelectedRidesTable">
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <div class="page-sub-title textcenter">
                        <h2>Select Ride</h2>
                        <div class="line"></div>
                    </div><!-- end .page-sub-title -->
                </div><!-- end .col-lg-12 -->
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="page-content add-new-ride">
                        <form novalidate autocomplete="off" class="idealforms add-ride" id="selectRideForm" method="post" action="@Url.Action("SelectedRides", "SelectRide")">
                            <div class="field">
                                <input type="search" id="sourceSearch" placeholder="From?" />
                                <input asp-for="SourceLocationLat" />
                                <span asp-validation-for="SourceLocationLat" class="text-danger"></span>
                                <input asp-for="SourceCity" />
                                <input asp-for="SourceStreet" />
                                <input asp-for="SourceState" />
                                <input asp-for="SourceLocationLng" />
                            </div>
                            <div class="field">
                                <input type="search" id="destinationSearch" placeholder="Where?" />
                                <input asp-for="DestinationLocationLat" />
                                <span asp-validation-for="DestinationLocationLat" class="text-danger"></span>
                                <input asp-for="DestinationCity" />
                                <input asp-for="DestinationStreet" />
                                <input asp-for="DestinationState" />
                                <input asp-for="DestinationLocationLng" />
                            </div>
                            <div class="field">
                                <input asp-for="TravelStartDateTime">
                                <span asp-validation-for="TravelStartDateTime" class="text-danger"></span>

                            </div>
                            <div>
                            </div>
                            <div class="field buttons">
                                <button type="submit" class="btn btn-lg green-color" id="SearchButton">Search</button>
                            </div>
                        </form>
                    </div><!-- end .page-content -->
                </div><!-- end .col-sm-12 -->
                <div class="col-sm-6 col-md-6 col-xs-6">
                    <div id="map"></div>
                </div>
            </div><!-- end .row -->
        </div><!-- end .container -->
    </section><!-- end .main-content -->
    <script type="text/javascript" src="~/scripts/map.js"></script>
    <script src="~/scripts/Account.js"></script>
</body>
