@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CarPooling.Web.ViewModels.Settings.CarInformationViewModel
<div class="modal fade" id="EditCarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div><!-- end .modal-header -->
            <div class="modal-body">
                <form method="post" action="@Url.Action("Edit", "Car")" novalidate autocomplete="off" class="idealforms login">
                    <div class="log-header">
                        <span class="log-in">Edit car</span>
                    </div>
                    <div class="field">
                        <input asp-for="Id" type="hidden" id="IdInput" name="Id" />
                    </div>
                    <div class="field">
                        <input asp-for="Number" name="Number" id="NumberInput" type="text" placeholder="Car Number">
                    </div>
                    <div class="field">
                        <input asp-for="Model" type="text" id="ModelInput" name="Model" placeholder="Car Model">
                    </div>
                    <div class="field">
                        <input asp-for="Color" type="text" id="ColorInput" name="Color" placeholder="Car Color">
                    </div>
                    <div class="field">
                        <input asp-for="Seats" type="text" id="SeatsInput" name="Seats" placeholder="Seats">
                    </div>
                    <div class="field buttons">
                        <button type="submit" class="submit btn green-color">Save Changes</button>
                    </div>
                </form><!-- end .login -->
            </div><!-- end .modal-body -->
        </div><!-- end .modal-content -->
    </div><!-- end .modal-dialog -->
</div><!-- end .modal -->